-r requirements.txt
-r test-requirements.txt

################################################
# DO NOT remove/modify the dependencies below. #
# They are requirements of the deploy process. #
################################################
Sphinx
flake8
detox>=0.9.3
sphinx-rtd-theme>=0.1,<1.0
tox>=1.6.0
